{%block body%}
<ul>
    <li>name: {{product.name}}</li>
    <li>price: {{product.price}}</li>
    <li>description: {{product.description}}</li>
    <li>category: {{product.category.name}}</li>
</ul>
{%endblock%}
