{# src/Acme/HelloBundle/Resources/views/Hello/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Ier si. Doar si.{% endblock %}
{% block body %}
<p style="color: {{color}}">Wien dawwe doar en! {{ firstname }} {{ lastname }}!</p>
{% endblock %}