{# src/Acme/BlogBundle/Resources/views/Blog/show.html.twig#}
{%extends '::base.blog.html.twig'%}
{%block title%}Author validation{%endblock%}

{%block content%}
    <h2>Auteur</h2>
    <p>naam: {{author.name}}</p>
{%endblock%}