{# src/Acme/BlogBundle/Resources/views/Blog/show.html.twig#}
{%extends '::base.blog.html.twig'%}
{%block title%}My Blog
{%endblock%}
{%block content%}
    <h2>Titel</h2>
    <p>Blogtekst</p>
{%endblock%}